body {
    background-color: #212121;
    color: #fff;
}

.Container{
    background-color: #fff;
    height: 30vh;
    border: #fff solid;
    border-radius: 30px;
}

.button{
    height: 50%;
    width: 100px;
    margin: 20px;
    border: black solid;
    border-radius: 20px;
    font-weight: bold;
    box-shadow: black 10px 10px;
    margin-top: 50px;
}

#gray{
    background-color: gray;
}

#white{
    background-color: white;
}

#yellow{
    background-color: yellow;
}

#blue{
    background-color: blue;
}

#purple{
    background-color: purple;
}
